
<h2>Tabla de multiplicar del 1</h2>

  <div *ngFor="let x of tablaUno; let i=index" id=".bmi">
    <ul class="list-group list-group-horizontal" *ngIf="x > 1 && i > 1">

      <li class="list-group-item">{{x}} X 1 = {{x}}</li>
      <li class="list-group-item">1 X {{x}} = {{x}}</li>

      <li class="list-group-item" *ngIf="x!=10">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/1.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/{{x}}.png">
      </li>

      <li class="list-group-item" *ngIf="x==10">
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/0.png">
        <label>X</label>
        <img width="50px" src="assets/img/1.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/0.png">
      </li>
    </ul>

    <ul class="list-group list-group-horizontal-xl" *ngIf="x > 1 && i > 1">
      <li class="list-group-item" style="border-color: black;"><i class="fa fa-book" aria-hidden="true"></i> Historia del {{x}} x 1</li>
    </ul>
  </div>


