<h1>Tablas de multiplicar</h1>
<hr>
<div class="card-columns bmi" id="mycontainer" >

    <div class="card animated fadeIn fast"  *ngFor="let tabla of tablas; let i=index">
        <div class="card h-100" >
          <img [src]="tabla.img" class="card-img-top" [alt]="tablas.nombre">
          <div class="card-body" style="background-color:#8E24AA;">
            <h5 class="card-title" style="color: #fcfcfc; font-weight: normal;
            font-size: 20px;
            font-weight: bold">{{tabla.nombre}}</h5>
            <p class="card-text">{{tablas.bio}}</p>
            
          </div>
          <div class="card-footer">
            <small class="text-muted">{{tablas.aparicion}}</small>
            <a *ngIf="i==0" [routerLink]="['/tabla-cero']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==1" [routerLink]="['/tabla-uno']" class="btn btn-outline-primary"> <i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==2" [routerLink]="['/tabla-dos']" class="btn btn-outline-primary"> <i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==3" [routerLink]="['/tabla-tres']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==4" [routerLink]="['/tabla-cuatro']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==5" [routerLink]="['/tabla-cinco']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==6" [routerLink]="['/tabla-seis']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==7" [routerLink]="['/tabla-siete']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==8" [routerLink]="['/tabla-ocho']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==9" [routerLink]="['/tabla-nueve']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>
            <a *ngIf="i==10" [routerLink]="['/tabla-diez']" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Comienza a aprender</a>

          </div>
        </div>
      </div>
</div>
