<h1>Tablas de multiplicar</h1>
<hr>
<div class="card-columns bmi" id="mycontainer" >

    <div class="card animated fadeIn fast"  *ngFor="let tabla of tablas; let i=index">
        <div class="card h-100" >
          <img [src]="tabla.img" class="card-img-top" [alt]="tablas.nombre">
          <div class="card-body" style="background-color:#c96291;">
            <h5 class="card-title">{{tabla.nombre}}</h5>
            <p class="card-text">{{tabla.bio}}</p>
            
          </div>
          <div class="card-footer">
            <small class="text-muted">{{tabla.aparicion}}</small>
            <a *ngIf="i==0" [routerLink]="['/tabla-cero']" class="btn btn-outline-primary">Ver mas link...</a>
            <a *ngIf="i==1" [routerLink]="['/tabla-uno']" class="btn btn-outline-primary">Ver mas link...</a>
            <a *ngIf="i==2" [routerLink]="['/tabla-dos']" class="btn btn-outline-primary">Ver mas link...</a>
          </div>
        </div>
      </div>
</div>
