span{
    color: blue;
    font-size: xx-large;
    font-weight: bold;
    
}

#oper{
    color: red;
    font-size: xx-large;
    font-weight: bold;

}

.modal-body{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-header{
    font-size: large;
    font-weight: bold;
    color:#8E24AA ;
    font-size: 25px;
}

.nav-link{
    font-size: large;
    font-size: bold;
}
