
<h1>Plano cartesiano</h1>


<div id="instructions">
	<video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"

		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="assets/video/plano.mp4" type='video/mp4' />
	</video>
</div>

  <!--Cuadricula de plano-->

<div class="row">
    <div class="col-sm-6" style="padding-top: 200px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <p class="badge-pill badge-warning" style="font-size: 20px; text-align: justify;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Ubica en el siguiente plano cartesiano la figura mostrada
            y coloca en el siguiente recuadro las coordenados donde 
            se localiza, da clic en el boton
            "Validar" para revisar tu respuesta.
          </p>
    
            <p class="badge-pill  badge-warning" style="font-size: 20px; text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Para agregar tu respuesta, coloca en primer lugar la 
            coordenada del eje de las X,separado con una coma(,)
            despues la coordenada del eje de la Y, Ejemplo: 5,7
        </p>
            
            <input [(ngModel)]="resultado" ngModel  class="form-control"  type="text" placeholder="Respuesta" require>
    
            <button type="button" data-toggle="modal" data-target="#miModal" (click)="getRevResp(resultado)" class="btn btn-primary mb-2">Validar</button>
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img [src]="palabra" class="card-img-top" alt="">
        </div>
      </div>
    </div>
  </div>


<!--Modal-->
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body"  *ngIf="!this.modal">
				<i class="fa fa-times" style="color:red" aria-hidden="true"></i> {{textodemodal}}
			</div>
            <div class="modal-body" *ngIf="this.modal">
				<i class="fa fa-check" style="color:green" aria-hidden="true"></i> {{textodemodal}}
			</div>
		</div>
	</div>
</div>
