
<h1>Plano cartesiano</h1>


<div id="instructions">
	<video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"

		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="assets/video/plano.mp4" type='video/mp4' />
	</video>

</div>




  <!--Cuadricula de plano-->

<div class="row">
    <div class="col-sm-6" style="padding-top: 200px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <a class="card-title">Ubica en el siguiente plano cartesiano la imagen mostrada
              y coloca en el siguiente recuadro las coordenados donde se localiza, da clic en el boton
              "Validar" para revisar tu respuesta.
            </a>
            
            <input [(ngModel)]="resultado" ngModel  class="form-control"  type="text" placeholder="Respuesta">
    
            <button type="button" (click)="getRevResp(resultado)" class="btn btn-primary mb-2">Validar</button>
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img [src]="palabra" class="card-img-top" alt="">
        </div>
      </div>
    </div>
  </div>
