
<h1>Plano cartesiano</h1>


<div id="instructions">
	<video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="assets/video/plano.mp4" type='video/mp4' />
	</video>

</div>




  <!--Cuadricula de plano-->
  <div>
<div class="row">
    <div class="col-sm-6" style="padding-top: 200px;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coordenadas</h5>
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img src="assets/img/plano.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>