


ul,li{
   font-size: medium;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   color: gray;
}

 .bmi {    
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
 }

 
.fa-check{
   color: green;
}

.fa-times{
   color: red;;
}

.button {
   border-radius: 50%;
}

.table{
   font-size: large;
   font-weight: bold;
}