
<h2>Tabla de multiplicar del 8</h2>

<br><br>
<body class="m-0 vh-100 row justify-content-center aling-items-center">
  <div *ngFor="let x of tablaOcho; let i=index">
    <ul class="list-group list-group-horizontal" *ngIf="x > 8 && i > 8">

      <li class="list-group-item">{{i}} X 8 = {{x}}</li>
      <li class="list-group-item">8 X {{i}} = {{x}}</li>

            <li class="list-group-item" *ngIf="x==72">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/8.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/7.png">
        <img width="50px" src="assets/img/2.png">
      </li>

      <li class="list-group-item" *ngIf="x==80">
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/0.png">
        <label>X</label>
        <img width="50px" src="assets/img/8.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/8.png">
        <img width="50px" src="assets/img/0.png">
      </li>
    </ul>

    <ul class="list-group list-group-horizontal-xl" *ngIf="x > 8 && i > 8">
      <li class="list-group-item" style="border-color: black;"><i class="fa fa-book" aria-hidden="true"></i> Historia del 8 x {{i}}</li>
    </ul>
  </div>
</body>