
<h2>Tabla de multiplicar del 9</h2>

<body class="m-0 vh-100 row justify-content-center aling-items-center">
  <div *ngFor="let x of tablaNueve; let i=index">
    <ul class="list-group list-group-horizontal" *ngIf="x > 9 && i > 9">

      <li class="list-group-item">{{i}} X 9 = {{x}}</li>
      <li class="list-group-item">9 X {{i}} = {{x}}</li>

      <li class="list-group-item" *ngIf="x==90">
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/0.png">
        <label>X</label>
        <img width="50px" src="assets/img/9.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/9.png">
        <img width="50px" src="assets/img/0.png">
      </li>
    </ul>

    <ul class="list-group list-group-horizontal-xl" *ngIf="x > 9 && i > 9">
      <li class="list-group-item" style="border-color: black;"><i class="fa fa-book" aria-hidden="true"></i> Historia del 9 x {{i}}</li>
    </ul>
  </div>
  </body>
  