
<h2>Tabla de multiplicar del 2</h2>
<br><br>

<body class="m-0 vh-100 row justify-content-center aling-items-center">
  <div *ngFor="let x of tablaDos; let i=index">
    <ul class="list-group list-group-horizontal" *ngIf="x > 2 && i > 2">

      <li class="list-group-item">{{i}} X 2 = {{x}}</li>
      <li class="list-group-item">2 X {{i}} = {{x}}</li>

      <li class="list-group-item" *ngIf="x<10">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/2.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/{{x}}.png">
      </li>

      <li class="list-group-item" *ngIf="x==10">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/2.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/0.png">
      </li>

      <!--12-->
      <li class="list-group-item" *ngIf="x==12">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/2.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/2.png">
      </li>
      <!--14-->
      <li class="list-group-item" *ngIf="x==14">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/2.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/4.png">
      </li>
      <!--16-->
      <li class="list-group-item" *ngIf="x==16">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/2.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/6.png">
      </li>
      
      <!--18-->
      <li class="list-group-item" *ngIf="x==18">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/2.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/8.png">
      </li>

      
      <!--20-->
      <li class="list-group-item" *ngIf="x==20">
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/0.png">
        <label>X</label>
        <img width="50px" src="assets/img/2.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/2.png">
        <img width="50px" src="assets/img/0.png">
      </li>
    </ul>

    <ul class="list-group list-group-horizontal-xl" *ngIf="x > 2 && i > 2">
      <li class="list-group-item" style="border-color: black;"><i class="fa fa-book" aria-hidden="true"></i> Historia del 2 x {{i}}</li>
    </ul>
  </div>
  </body>