
<nav class="navbar navbar-expand-lg navbar-ligth" style="background-color: #e3f2fd;">
    <div>
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-table" aria-hidden="true"></i>
                Tablas de multiplicar</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/operaciones-basicas']"><i class="fa fa-calculator" aria-hidden="true"></i>
                Operaciones básicas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/plano-cartesiano']"> <i class="fa fa-plus" aria-hidden="true"></i> Plano cartesiano</a>
          </li>
        
      </ul>
    </div>
  </nav>
  