


<nav class="navbar navbar-expand-lg navbar-ligth " style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse justify-content-center">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>

        <li class="nav-item active" outerLinkActive="active">
            <a class="nav-link" [routerLink]="['tablas']"><i class="fa fa-table" aria-hidden="true"></i>
                Tablas de multiplicar</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-calculator" aria-hidden="true"></i>
                Operaciones básicas</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"> <i class="fa fa-plus" aria-hidden="true"></i> Plano cartesiano</a>
          </li>
        
      </ul>
    </div>
  </nav>

  