/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

#mycontainer {
    max-width: 1050px !important;
}

.carousel-inner img {
    width: 20%;
    height: 10%;
    max-height: 250px;
}

.carousel-inner{
 height: 250px;
}
.bmi {         /*my additional class name -for card*/
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
}


h1 {
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

h1:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, blue);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}


h2{
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

h2:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, orange);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}