
<h2>Tabla de multiplicar del 5</h2>
<br><br>
<body class="m-0 vh-100 row justify-content-center aling-items-center">
  <div *ngFor="let x of tablaCinco; let i=index">
    <ul class="list-group list-group-horizontal" *ngIf="x > 5 && i > 5">

      <li class="list-group-item">{{i}} X 5 = {{x}}</li>
      <li class="list-group-item">5 X {{i}} = {{x}}</li>

      
      <!--30-->
      <li class="list-group-item" *ngIf="x==30">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/5.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/3.png">
        <img width="50px" src="assets/img/0.png">
      </li>

      
      <!--35-->
      <li class="list-group-item" *ngIf="x==35">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/5.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/3.png">
        <img width="50px" src="assets/img/5.png">
      </li>

      
      <!--40-->
      <li class="list-group-item" *ngIf="x==40">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/5.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/4.png">
        <img width="50px" src="assets/img/0.png">
      </li>

      
      <!--45-->
      <li class="list-group-item" *ngIf="x==45">
        <img width="50px" src="assets/img/{{i}}.png">
        <label>X</label>
        <img width="50px" src="assets/img/5.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/4.png">
        <img width="50px" src="assets/img/5.png">
      </li>

      <li class="list-group-item" *ngIf="x==50">
        <img width="50px" src="assets/img/1.png">
        <img width="50px" src="assets/img/0.png">
        <label>X</label>
        <img width="50px" src="assets/img/5.png"> 
        <label>=</label>
        <img width="50px" src="assets/img/5.png">
        <img width="50px" src="assets/img/0.png">
      </li>
    </ul>
    <ul class="list-group list-group-horizontal-xl" *ngIf="x > 5 && i > 5">
      <li class="list-group-item" style="border-color: black;"><i class="fa fa-book" aria-hidden="true"></i> Historia del 5 x {{i}}</li>
    </ul>
  </div>
</body>